- name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /opt/app
            # Авторизация в ECR
            aws ecr get-login-password --region eu-central-1 | docker login --username AWS --password-stdin 129670050060.dkr.ecr.eu-central-1.amazonaws.com
            
            # Подтягиваем код, если его еще нет (на случай первого деплоя)
            if [ ! -f "docker-compose.yml" ]; then
              git clone https://github.com/Jlomka111/my-full-stack.git .
            else
              git pull origin main
            fi

            # Запуск (используем пробел в docker compose)
            docker compose pull
            docker compose up -d
            
            echo "✅ Deployment successful!"