-with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 1. Исправляем права и заходим в папку
            sudo mkdir -p /opt/app
            sudo chown ubuntu:ubuntu /opt/app
            cd /opt/app

            # 2. Логинимся в AWS ECR
            aws ecr get-login-password --region eu-central-1 | docker login --username AWS --password-stdin 129670050060.dkr.ecr.eu-central-1.amazonaws.com
            
            # 3. Синхронизируем код (docker-compose.yml и другие конфиги)
            if [ ! -d ".git" ]; then
              git clone https://github.com/Jlomka111/my-full-stack.git .
            else
              git fetch --all
              git reset --hard origin/main
            fi

            # 4. Обновляем и запускаем контейнеры
            sudo docker compose pull
            sudo docker compose up -d
            
            echo "✅ Deployment successful!"